.logo {
    width: 213px;
    height: 36px;
    background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
}

.login-block {
    width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: 3px solid #9B1F40;
    margin: 0 auto;
}

    .login-block h1 {
        text-align: center;
        color: #9B1F40;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .login-block input:active, .login-block input:focus {
        border: 1px solid #ff656c;
    }

    .login-block button {
        width: 50%;
        height: 40px;
        background: #ff656c;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #e15960;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Montserrat;
        outline: none;
        cursor: pointer;
    }

        .login-block button:hover {
            background: #ff7b81;
        }
