@using Careers.DataAccess.ViewModels

@model JobPostsModel
@{
    ViewData["Title"] = "Please post your job";

}
<link rel="stylesheet" href="~/css/postJob.css" />

<div class="container" style="text-align:center;">
    <div class="row">
        <div class="col">
            <form asp-route-returnUrl="" method="post">
                <div class="logo"></div>
                <div class="login-block">
                    <h1>@ViewData["Title"]</h1>
                    <hr />
                    <div asp-validation-summary="None" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <textarea asp-for="Title" class="form-control"></textarea>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Requirements"></label>
                        <textarea asp-for="Requirements" class="form-control"></textarea>
                        <span asp-validation-for="Requirements" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Responsibilities"></label>
                        <textarea asp-for="Responsibilities" class="form-control"></textarea>
                        <span asp-validation-for="Responsibilities" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ApplicationProcedure"></label>
                        <textarea asp-for="ApplicationProcedure" class="form-control"></textarea>
                        <span asp-validation-for="ApplicationProcedure" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IndustryTypeId">Please Choose Industry</label>
                        <select asp-for="IndustryTypeId" asp-items="(SelectList)ViewBag.Industries" class="form-control"></select>
                        <span asp-validation-for="IndustryTypeId" class="text-danger"></span>
                        <input @ViewBag.itemid type="hidden" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary" style="background-color:#9B1F40">Post Job</button>
                </div>
            </form>
        </div>
    </div>
</div>




<script src="~/js/ProfileDropdown.js" asp-append-version="true"></script>